In [52]:

#needed to make web requests
import requests

#store the data we get as a dataframe
import pandas as pd

#convert the response as a strcuctured json
import json

#mathematical operations on lists
import numpy as np

#parse the datetimes we get from NOAA
from datetime import datetime


#test station
station_id = 'GHCND:USW00014735'

In [53]:
#add the access token you got from NOAA
with open("c:\\Users\\hkropp\\Google Drive\\NY_spring\\token_for_real.txt") as f:
    token = f.read().strip()

In [54]:
#initialize lists to store data
dates_temp = []
dates_prcp = []
temps = []
prcp = []

#for each year from 2015-2019 ...
for year in range(2015, 2020):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid='+station_id+'&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':token})
    #load the api response as a json
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
    avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get the date field from all average temperature readings
    dates_temp += [item['date'] for item in avg_temps]
    #get the actual average temperature from all average temperature readings
    temps += [item['value'] for item in avg_temps]

working on year 2015
working on year 2016
working on year 2017
working on year 2018
working on year 2019

In [55]:

#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0*1.8 + 32 for v in temps]

In [56]:
df_temp

           date  avgTemp
0    2015-01-01    23.72
1    2015-01-02    30.74
2    2015-01-03    24.62
3    2015-01-04    36.32
4    2015-01-05    30.92
5    2015-01-06    14.54
6    2015-01-07    14.00
7    2015-01-08     3.02
8    2015-01-09    19.22
9    2015-01-10    15.62
10   2015-01-11    14.00
11   2015-01-12    30.38
12   2015-01-13    17.24
13   2015-01-14     2.30
14   2015-01-15    15.44
15   2015-01-16    23.54
16   2015-01-17     8.96
17   2015-01-18    30.02
18   2015-01-19    35.78
19   2015-01-20    27.32
20   2015-01-21    16.88
21   2015-01-22    21.38
22   2015-01-23    23.90
23   2015-01-24    26.96
24   2015-01-25    29.66
25   2015-01-26    13.64
26   2015-01-27    14.36
27   2015-01-28    14.90
28   2015-01-29    11.48
29   2015-01-30    27.86
...         ...      ...
1796 2019-12-02    29.66
1797 2019-12-03    28.04
1798 2019-12-04    29.84
1799 2019-12-05    34.70
1800 2019-12-06    30.74
1801 2019-12-07    25.88
1802 2019-12-08    17.24
1803 2019-12-09    39.38
1804 2019-12-10    46.94
1805 2019-12-11    32.72
1806 2019-12-12    26.42
1807 2019-12-13    32.72
1808 2019-12-14    39.74
1809 2019-12-15    41.00
1810 2019-12-16    29.12
1811 2019-12-17    27.68
1812 2019-12-18    29.12
1813 2019-12-19    13.82
1814 2019-12-20    14.00
1815 2019-12-21    14.54
1816 2019-12-22    20.12
1817 2019-12-23    30.92
1818 2019-12-24    38.12
1819 2019-12-25    29.48
1820 2019-12-26    33.08
1821 2019-12-27    42.26
1822 2019-12-28    42.44
1823 2019-12-29    34.16
1824 2019-12-30    35.42
1825 2019-12-31    35.24

[1826 rows x 2 columns]